%div{"id" => "user_story_#{user_story.id}", "data-id" => user_story.id, "data-project-id" => user_story.project_id, :class => "user-story #{user_story.state}",
  "data-story-points" => (user_story.story_points || 0)}


  - if user_story.story_points && user_story.story_points > 0
    %span.story-points= user_story.story_points
  = link_to story_text(user_story, false), [@project, user_story]

  .clear
  - if Can.edit_user_stories_for?(current_user, @project)
    = link_to content_tag(:span, t("trash")),                     |
              [user_story.project, user_story],                   |
              method: "delete",                                   |
              remote: true,                                       |
              class: "right delete-story icon icon-cross",        |
              "data-confirm" =>  t("user_stories.confirm_delete") |

  - if current_user.current_time_log_entry(@project) && current_user.current_time_log_entry(@project).user_story_id == user_story.id
    = link_to content_tag(:span, t("stop_work")),                                       |
              stop_work_project_user_story_time_log_entries_path(@project, user_story), |
              title: t("stop_work"), class: "icon icon-pause"                           |
  - else
    = link_to content_tag(:span, t("start_work")),                                       |
              start_work_project_user_story_time_log_entries_path(@project, user_story), |
              title: t("start_work"), class: "icon icon-play"                            |

  - if user_story.user
    %span.story-avatar= image_tag(user_story.user.small_gravatar_url, alt: user_story.user.name, title: user_story.user.name)

  .clear
