= render partial: "projects/project_header", locals: {project: @project}
.clear
%p= link_to t("new_attachment"), [:new, @project, :attachment], class: "right button button-with-icon icon-add"
%h1= t("attachments.list")
.clear
= render partial: "attachment", collection: @attachments

= will_paginate @attachments
