.vspacer

.left
  = link_to content_tag(:span, t("show_burndown")), |
            "#sprint_#{sprint.id}_burndown",        |
            class: "icon icon-chart-curve pop-up",         |
            title: t("show_burndown")               |

%div{:id => "sprint_#{sprint.id}_burndown", :class => "sprint-backlog-dialog", "data-title" =>  "#{t("burn_down_chart")} - #{sprint.name}" }
  %canvas{:width => "600", :height => "350", "data-url" => project_sprint_path(sprint.project, sprint), :class => "burn-down-canvas"}
  = t("burn_down_info")

- if Can.edit_sprints_for?(current_user, sprint.project)
  .right
    %table
      %tr
        %td
          = link_to content_tag(:span, "#{t("edit")} #{sprint.name}"), "#", |
                    "data-toggle" => "#edit_#{sprint.id}_form_wrapper",     |
                    title: "#{t("edit")} #{sprint.name}",                   |
                    class: "icon icon-prefs"                                |
        %td
          = link_to content_tag(:span, "#{t("delete")} #{sprint.name}"), |
                    project_sprint_path(@project, sprint),               |
                    title: "#{t("delete")} #{sprint.name}",              |
                    method: "delete", remote: true,                      |
                    class: "icon icon-cross"                             |

.clear

%p= simple_format sprint.goal

.clear
- if Can.edit_sprints_for?(current_user, sprint.project)
  %div.edit-sprint{:id => "edit_#{sprint.id}_form_wrapper"}
    = render partial: "form", locals: {sprint: sprint}
%div{:id => "sprint_#{sprint.id}", :class => "sprint-sortable #{'user-stories-sortable' if Can.edit_user_stories_for?(current_user, @project)}", "data-sprint-id" => sprint.id }
  = render partial: "user_stories/user_story", collection: sprint.user_stories.find(:all, :conditions => {}, :sort => [:position, :asc])
