= render :partial => "projects/shoutbox"

.left
  = thumb_of project

%h2= link_to project.name, project

%div.description= project.description
%div.description
  = TimeFormatter::format project.worked_time
  = link_to t("details"), project_time_log_entries_path(project)
%div.description
  = link_to t("attachments"), [@project, :attachments]


= link_to t("edit"), edit_project_path(@project) if Can.edit?(current_user, @project)

- if @project.current_time_log_entries.count > 0
  #now_working
    %h2= t("currently_working")
    - @project.current_time_log_entries.each do |entry|
      - if entry.user != nil && entry.user_story
        = link_to image_tag(entry.user.small_gravatar_url, :title => entry.user.name, :alt => entry.user.name), [@project, entry.user_story]

.clear
