= render :partial => "projects/shoutbox"

.left
  = thumb_of project

%h2= link_to project.name, project

%div.description= project.description
%div.description
  = TimeFormatter::format project.worked_time
  = link_to t("details"), project_time_log_entries_path(project)


= link_to t("edit"), edit_project_path(@project) if Can.edit?(current_user, @project)

- if @project.current_time_log_entries.count > 0
  #now_working
    %h2= t("currently_working")
    - @project.current_time_log_entries.each do |entry|
      - if entry.user != nil && entry.user_story
        = link_to image_tag(entry.user.small_gravatar_url, :title => entry.user.name, :alt => entry.user.name), [@project, entry.user_story]

.clear

- content_for :extra_navigation do
  .left
    = link_to t("attachments"), [@project, :attachments], class: "button button-with-icon icon-pages"
  - if controller.is_a?(ProjectsController) && action_name == "show"
    #project_buttons
      %input{:type => "checkbox", :id => "sprints_visible", :checked => "checked"}
      %label{:for => "sprints_visible"}= t("projects.sprints")
      %input{:type => "checkbox", :id => "product_backlog_visible", :checked => "checked"}
      %label{:for => "product_backlog_visible"}= t("projects.product_backlog")
      %input{:type => "checkbox", :id => "user_stories_incubator_visible", :checked => "checked"}
      %label{:for => "user_stories_incubator_visible"}= t("projects.user_stories_incubator")


