= render partial: "project_header", locals: {project: @project}

%h2= t("projects.reports")
#reports
  = select_tag :from, options_for_select((@project.start_date..@project.end_date).collect {|d| [d.to_s, d.midnight.to_i]}.reverse, @project.start_date.midnight.to_i)
  = select_tag :to, options_for_select((@project.start_date..@project.end_date).collect {|d| [d.to_s, d.end_of_day.to_i]}.reverse)

  %button#plot_timeline Plot


- ["project_size", "remaining_points", "velocity", "code_complexity"].each do |metric|
  - data, labels = data_for_chart(@project, @project.send(metric + "_metrics"))
  = image_tag(Gchart.line(:size => "960x300", :title => t("metrics.#{metric}"), :bg => 'transparent', :legend => [t("metrics.#{metric}")], :data => data.values, :axis_with_labels => ["x", "y"], :axis_labels => [labels])) unless data.values.all?{|v| v.nil?}
