= render partial: "project_header", locals: {project: @project}

%h2= t("projects.reports")
#reports
  = select_tag :from, options_for_select((@project.start_date..@project.end_date).collect {|d| [d.to_s, d.midnight.to_i]}.reverse, @project.start_date.midnight.to_i)
  = select_tag :to, options_for_select((@project.start_date..@project.end_date).collect {|d| [d.to_s, d.end_of_day.to_i]}.reverse)

  %button#plot_timeline Plot

= image_tag Gchart.line(:size => '960x300', :title => "example title", :bg => 'efefef', :legend => ['first data set label', 'second data set label'], :data => [10, 30, 120, 45, 72, 55, 53, 2, 3, nil, 45, 6, 6, 6, 7, 7, 7,7])
