%p
  = t("devise.sessions.hello", user: @resource.email)

%p
  = t("devise.passwords.change_password_instructions")

%p
  = link_to t("devise.passwords.change_my_password"), "#{AppConfig.url}#{edit_password_path(@resource, :reset_password_token => @resource.reset_password_token)}"
